.ttemplate-A-preview-container{
    width: 60vw;
    background-color: white;
      overflow-y: scroll;
  overflow-x: hidden;
    margin-left: 20vw;
    height: 100vh;
}

.ttemplate-B-preview-container{
  width: 50vw;
  background-color: white;
  border: 2px solid rgb(17, 17, 17);
    overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  margin-left: 25vw;
}
.template-A{
  color: rgb(14, 0, 0);
}


.template-A-fname{
      font-size: 2rem;
    font-family: emoji;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}


.template-A-email{
      border: 1px solid;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    word-spacing: 20px;
}

.template-A-main{
  display: flex;
  width: 100%;
}

.template-A-left{
  margin-left: 5px;
  width: 60%;
}
.template-A-right{
  margin-left: 10px;
   width: 40%;
}



/* / ///////////////////////////// */


.ttemplate-B{
    color: rgb(16, 16, 17);
    background-color: white;
}

.ttemplate-B-fname{
      font-size: 2rem;
    font-family: emoji;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}


.ttemplate-B-email{
      border: 1px solid;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    word-spacing: 20px;
}

.ttemplate-B-main{
  margin-left: 10px;
  width: 100%;
  
}
.ttemplate-B-main p{
  width: 90%;
}
.ttemplate-A-main p{
  width: 90%;
}
.template-B-left{
  margin-left: 5px;
  width: 100%;
}



/* //////////////////////////////////  */
.ttemplate-C-preview-container{
  background-color: white;
     overflow: hidden;
    overflow-y: scroll;
  width: 60vw;
  margin-left: 20vw;
  border: 2px solid black;
  height: 100vh;
}

.ttemplate-C-preview-container p{
  margin-bottom: 0;
}

.ttemplate-A-preview-container p{
  margin-bottom: 0;
}

.ttemplate-B-preview-container p{
  margin-bottom: 0;
}

.ttemplate-D-preview-container p{
  margin-bottom: 0;
}

.ttemplate-C-fname{
  font-size: 2.5rem;
      justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.ttemplate-C-email{
          width: 100%;
    align-items: center;
    justify-content: center;
    word-spacing: 1rem;
    margin-left: 14rem;
}

.ttemplate-C-main{
  margin-left: 20px;
}

.ttemplate-C-main h3{
      color: white;
    background-color: black;
}

/*  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.ttemplate-D-preview-container{
  background-color: white;
  width: 60vw;
  margin-left: 20vw;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid black;
  height: 100vh;
}

.ttemplate-D-main{
  width: 100%;
  display: flex;
}
.ttemplate-D-fname{
  font-size: 2.5rem;
  margin-left: 1rem;
  color: white;
  background-color: black;
}
.ttemplate-D-email{
  color: white;
  background-color: black;
  font-size: 1rem;
  margin-left: 1rem;
  word-spacing: 3rem;
}
.ttemplate-D-left{
  margin-left: 1rem;
  width: 50%;
}

.ttemplate-D-right{
  margin-left: 1rem;
}

.ttemplate-D-preview-container h3{
  
  color:blue ;
}

.ttemplate-D-preview-container hr{
  width: 100%;
  color: black;
}


/* ////////////////////// portfolio */

.mainaa{
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
}

.maina .navbar{
    width: 100vw;
    background-color: rgb(15, 15, 15);
    color: white;
    height: 8vh;
    border: 4px solid brown;
    border-bottom: none;
}

.maina h3:hover{
   color: blue;
}

.maina .navbar a{
    margin-left: 2rem;
    font-size: 1.4rem;
    color: white;
    font-family: 'Kaisei Tokumin', serif;

}

.maina .collapse{
    margin-left: 10rem;
}
.maina .collapse a{
    font-size: 1rem;
    
}

 .maina #first-a{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.maina #first-a:hover{
    color: rgb(43, 255, 0);
}


.maina .rest{

    height: 92vh;
    width: 100vw;
    background-color: #fcfafa;
    border: 4px solid brown;
    border-top: none;
}

.maina .upper{
    display:  flex;
}

.maina .upper-inner{
        margin-top: 10rem;
    margin-left: 8rem;
}
.maina .upper-inner h1{
        font-size: 5rem;
    color: blueviolet;
    font-family: serif;
    font-weight: revert;
    letter-spacing: 6px;
    text-shadow: 3px 3px 4px rgb(248, 118, 216);
}
.maina .upper-inner h4{
        font-size: 3rem;
    color: darkred;
    font-family: serif;
    font-weight: bold;
    margin-top: 2rem;
}
.maina #down{
        position: fixed;
    height: 4rem;
    /* margin-top: 90vh; */
    width: 6rem;
    margin-top: 80vh;
    margin-left: 46vw;
}

.maina img{
        width: 30vw;
    height: 40vh;
    margin-top: 10rem;
    margin-left: 10rem;
}

.maina .intro{

  width: 100vw;
        
  text-align: center;
}
.maina .intro p{
  font-size: 1.2rem;
  margin-top: 1rem;
}
.maina .upper #second-span::before{
    content: "I am a Web Developer";

       animation: animate infinite 5s;
        padding-left: 10px;
    }
  
    @keyframes animate {
  
  
        25% {
            content: "I am Competetive Programmer";
        }
        50%{
            content: "I like Problem Solving";
        }
        75%{
            content: "I like Web development";
        }

  
    }
.maina .upper-inner h1::before{
        content: "Hello 👋";
        animation: anima infinite 5s;
    }

    @keyframes anima{
        25%{
            content: "Hello 🖐";
        }
        50%{
            content: "Hello 👋";
        }
        75%{
            content: "Hello 🖐";
        }
    }

    .maina .education{
        margin : 4rem
    }

    .maina .education h3{
            font-size: 3rem;
    font-family: 'Kaisei Tokumin';
    font-weight: bolder;
    text-align: center;
    }

    .maina .education h4{
        
    font-size: 2rem;
    margin-top: 1rem;
    color: brown;
    letter-spacing: 2px;
    font-weight: bolder;
    }

    .maina .education p{
            font-size: 1.4rem;
    font-weight: 900;
    margin-top: 1rem;
    }

    .maina .skills h3{ 
                    font-size: 3rem;
    font-family: 'Kaisei Tokumin';
    font-weight: bolder;
    text-align: center;
    }

    .maina .sk{
            display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .maina .sk p{
            font-size: x-large;
    font-family: cursive;

        display: flex;
        width: 8rem;
        height: 3rem;
        text-align: center;
        justify-content: center;
        color: rgb(250, 243, 243);
        background-color: black;
        margin: 4rem;
        border: 1px solid black;
        border-radius: 5%;
    }
     
    .maina .sk p:hover{
        background-color: crimson;

    }

    .maina .projects h3{
        font-size: 3rem;
    font-family: 'Kaisei Tokumin';
    font-weight: bolder;
    text-align: center;

    }
    .maina work h3{
                 font-size: 3rem;
    font-family: 'Kaisei Tokumin';
    font-weight: bolder;
    text-align: center;

    }
    .maina .px{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 4rem;
    }
    .maina .work .pro{
        margin-top: 2rem;
        width: 30rem;
    border: 1px solid;
    height: 15rem;
    background-color: rgb(247, 134, 218);
     border-radius: 5%;
    }
   .maina .projects .pro{
     margin-top: 2rem;
        width: 30rem;
    border: 1px solid;
    height: 15rem;
    background-color: rgb(238, 255, 86);
     border-radius: 5%;
    }
    .maina .projects .pro:hover{
        background-color: crimson;
        color: white;
    }
    
    .maina .projects  .pro  h4{
        color: rgb(253, 249, 249);
        background-color: rgb(27, 27, 27);
        text-align: center;
        
    }
     
    .maina .work  .pro  h4{
        color: rgb(253, 249, 249);
        background-color: rgb(27, 27, 27);
        text-align: center;
        
    }

     .maina .pro p{
        margin: 1rem;
        width: 100%;
    }
    .maina .pro h5{
        margin: 1rem;

    }
    .maina .pro a{
        margin: 1rem;
    }
    
    .maina .ach{
        
        text-align: center;
    }
    .maina .ach h3{
        
        font-size: 3rem;
    font-family: 'Kaisei Tokumin';
    font-weight: bolder;
    text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .maina h3{
              font-size: 3rem;
    font-family: 'Kaisei Tokumin';
    font-weight: bolder;
    text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .maina .ach h6{
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
    }

    .maina .ac{
        width: 100%;
        
        border: 2px solid red;
        
        color: rgb(197, 184, 3);
        background-color: black;
    }