.main-profile h3{
    
            font-size: 3rem;
    font-family: 'Kaisei Tokumin';
    font-weight: bolder;
    text-align: center;
    margin: 4rem;
}

.resumes{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly
}

.resume-box:hover{
    transform: scale(1.051);
}
.resume-box{
    width: 18rem;
    height: 21rem;
    object-fit: contain;
    border: 1px solid rgb(245, 238, 237);
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: transform 1s;
}

.resume-box img{
width: 16rem;
    height: 19rem;
    object-fit: cover;
    margin-left: 1rem;
    margin-top: 1rem;
    border: 1px solid;
}


#change{
    color: rgb(197, 178, 8);
}